<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}
    </title>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
    <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

        {# Custom Styling #}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        {#    Style needed for carousel slider #}
        <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.theme.css" %}">

        {# Mezzanine CMS styling, not sure what this is for exactly, maybe admin pages and CMS functionality #}
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">

        {# not sure what this does, commenting out for the moment #}
        {#<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">#}
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}

    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
    {% endcompress %}

    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

<div id="wrapper">

    {% block header_container %}
    <div class="header">
        <nav class="navbar   navbar-site navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">{% trans "Toggle Navigation" %}</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <a href="{% url "home" %}" class="navbar-brand logo logo-title">
                        <!-- Original Logo will be placed here  -->
                        <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span>
                        Home<span>Ed</span>Supply </a></div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url "account_login" %}">Login</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- /.header -->
    {% endblock header_container %}

    {% block body_container %}
    {%  endblock body_container %}

    {% block footer_container %}
    <div class="footer" id="footer">
        <div class="container">
            <ul class=" pull-left navbar-link footer-nav">
                <li><a href="/"> Home </a> <a href="about-us.html"> About us </a> <a href="#"> Terms and
                    Conditions </a> <a href="#"> Privacy Policy </a> <a href="contact.html"> Contact us </a> <a
                        href="faq.html"> FAQ </a>
            </ul>
            <ul class=" pull-right navbar-link footer-nav">
                <li> &copy; 2015 Home Education Supply, LLC</li>
            </ul>
        </div>

    </div>
    <!-- /.footer -->
    {% endblock footer_container %}

</div>
<!-- /.wrapper -->


{# Placed at the end of the document so the pages load faster #}
{% compress js %}
    <!-- include checkRadio plugin //Custom check & Radio  -->
    <script type="text/javascript" src="{%  static  "js/icheck.min.js" %}"></script>


    <script type="text/javascript" src="{% static "js/jquery/1.11.3/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- include carousel slider plugin  -->
    <script type="text/javascript" src="{% static "js/owl.carousel.min.js" %}"></script>

    <!-- include equal height plugin  -->
    <script type="text/javascript" src="{% static "js/jquery.matchHeight-min.js" %}"></script>

    <!-- include jquery list shorting plugin plugin  -->
    <script type="text/javascript" src="{% static "js/hideMaxListItem.js" %}"></script>

    <!-- include jquery.fs plugin for custom scroller and selecter  -->
    <script type="text/javascript" src="{% static "plugins/jquery.fs.scroller/jquery.fs.scroller.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/jquery.fs.selecter/jquery.fs.selecter.js" %}"></script>


    <!-- include custom script for site  -->
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>

    <!-- include jquery autocomplete plugin  -->

    <script type="text/javascript" src="{% static "plugins/autocomplete/jquery.mockjax.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/autocomplete/jquery.autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/autocomplete/usastates.js" %}"></script>

    <script type="text/javascript" src="{% static "plugins/autocomplete/autocomplete-demo.js" %}"></script>

    <!-- include form-validation plugin || add this script where you need validation   -->
    <script type="text/javascript" src="{% static "js/form-validation.js"%}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>

    <script src="{% static  "js/footable.js" %}" type="text/javascript"></script>
    <script src="{% static "js/footable.filter.js" %}" type="text/javascript"></script>


{% endcompress %}

{% block extra_js %}{% endblock %}

<script>
    paceOptions = {
        elements: true
    };
</script>

{% include "includes/footer_scripts.html" %}

</body>
</html>
